#home{
    background: url(../images/banner-bg.jpg) center;
    background-size: cover;
    .fullscreen{
        height: 821px;
    }
    .banner-content{
        h1{
            color: $white;
            font-size: 60px;
            font-weight: 300;
            line-height: 1.2em;
            @include media-breakpoint-down(md){
                font-size: 40px;
            }
            @include media-breakpoint-down(sm){
                font-size: 30px;
            }
        }
        p{
            margin-bottom: 40px;
            margin-top: 5px;
            color: $white;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.625em;
        }
        .primary-btn {
            padding-left: 30px;
            padding-right: 30px;
        }
        .header-btn {
            border-radius: 10px;
            color: $white;
            border: 1px solid $white;
            padding: 15px 30px;
            margin-top: 20px;
            transition: 1s all;
            &:hover{
                text-decoration: none;
                background-color: $white;
                transition: 1s all;
                color: $black;
            }
        }    
    }
}