<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Robotics</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-6 col-md-6">
                    <h1>
                        Improved <br>
                        Production level <br>
                        with Robotics
                    </h1>
                    <p class="text-white text-uppercase">
                        Everyone wants the innovation through robotics
                    </p>
                    <a href="#" class="primary-btn header-btn text-uppercase">View Details</a>
                </div>
                <div class="banner-img col-lg-6 col-md-6">
                    <img class="img-fluid" src="images/banner-img.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto heading">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-lg-6 about-details">
                    <h6 class="text-uppercase">Brand new app to blow your mind</h6>
                    <h1>
                        We’ve made a life <br>
                        that will change you
                    </h1>
                    <p>
                        <span>We are here to listen from you deliver exellence</span>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmo d tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>
                    <a class="primary-btn" href="#">Get Started Now</a>
                </div>
                <div class="col-lg-6 justify-content-center align-items-center d-flex relative">
                    <img src="images/p2.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 justify-content-center align-items-center d-flex relative">
                    <img src="images/about-img.png" class="img-fluid">
                </div>
                <div class="col-lg-6 about-details">
                    <h1>Globally Connected<br>
                    by Large Network
                    </h1>
                    <p>
                        <span>We are here to listen from you deliver exellence</span>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </p>
                    <a class="primary-btn" href="#">Get Details</a>
                </div>
            </div>
        </div>
    </section>
    <section id="service">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 m-auto heading text-center">
                    <h2>Our Offered Services to you</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-offered-service">
                        <img class="img-fluid" src="images/os1.jpg" alt="">
                        <a href="#">
                            <h4>Drone Architecture</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face
                            higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-offered-service">
                        <img class="img-fluid" src="images/os2.jpg" alt="">
                        <a href="#">
                            <h4>Device Robot System</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face
                            higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-offered-service">
                        <img class="img-fluid" src="images/os3.jpg" alt="">
                        <a href="#">
                            <h4>Industrial Robot Management</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face
                            higher conduct.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="feature-area">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 m-auto heading text-center">
                    <h2>Some Features that Made us Unique</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row">
                            <i class="far fa-user"></i>
                            <h4>Expert Technicians</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row">
                            <i class="far fa-id-badge"></i>
                            <h4>Professional Service</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row">
                            <i class="fa fa-phone"></i>
                            <h4>Great Support</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row">
                            <i class="fas fa-rocket"></i>
                            <h4>Technical Skills</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row">
                            <i class="far fa-gem"></i>
                            <h4>Highly Recomended</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row">
                            <i class="fas fa-comment-dots"></i>
                            <h4>Positive Reviews</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="product">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 m-auto heading text-center">
                    <h2>Featured Robotics Products to Show</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <div class="thumb">
                            <img src="images/p1.png" alt="">
                        </div>
                        <div class="details">
                            <h4>The Upper Eye</h4>
                            <p>
                                Who are in extremely love with eco friendly system.
                            </p>
                            <a href="product-details.html" class="primary-btn text-uppercase">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <div class="thumb">
                            <img src="images/p2.png" alt="">
                        </div>
                        <div class="details">
                            <h4>The Upper Eye</h4>
                            <p>
                                Who are in extremely love with eco friendly system.
                            </p>
                            <a href="product-details.html" class="primary-btn text-uppercase">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <div class="thumb">
                            <img src="images/p3.png" alt="">
                        </div>
                        <div class="details">
                            <h4>The Upper Eye</h4>
                            <p>
                                Who are in extremely love with eco friendly system.
                            </p>
                            <a href="product-details.html" class="primary-btn text-uppercase">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <div class="thumb">
                            <img src="images/p4.png" alt="">
                        </div>
                        <div class="details">
                            <h4>The Upper Eye</h4>
                            <p>
                                Who are in extremely love with eco friendly system.
                            </p>
                            <a href="product-details.html" class="primary-btn text-uppercase">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="brand-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col single-brand">
                    <img class="img-fluid" src="images/l1.png" alt="">
                </div>
                <div class="col single-brand">
                    <img class="img-fluid" src="images/l2.png" alt="">
                </div>
                <div class="col single-brand">
                    <img class="img-fluid" src="images/l3.png" alt="">
                </div>
                <div class="col single-brand">
                    <img class="img-fluid" src="images/l4.png" alt="">
                </div>
                <div class="col single-brand">
                    <img class="img-fluid" src="images/l5.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 m-auto heading text-center">
                    <h2>Latest News from our Blog</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 blog-left">
                    <div class="thumb">
                        <img class="img-fluid" src="images/b1.jpg" alt="">
                    </div>
                    <div class="detais">
                        <ul class="tags">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Life Style</a></li>
                        </ul>
                        <a href="#">
                            <h4>Portable latest Fashion for young women</h4>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore.
                        </p>
                        <p class="date">31st January, 2018</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 blog-left">
                    <div class="thumb">
                        <img class="img-fluid" src="images/b2.jpg" alt="">
                    </div>
                    <div class="detais">
                        <ul class="tags">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Life Style</a></li>
                        </ul>
                        <a href="#">
                            <h4>Portable latest Fashion for young women</h4>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore.
                        </p>
                        <p class="date">31st January, 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(document).ready(function () {
                var itemsMainDiv = ('.MultiCarousel');
                var itemsDiv = ('.MultiCarousel-inner');
                var itemWidth = "";

                $('.leftLst, .rightLst').click(function () {
                    var condition = $(this).hasClass("leftLst");
                    if (condition)
                        click(0, this);
                    else
                        click(1, this)
                });

                ResCarouselSize();




                $(window).resize(function () {
                    ResCarouselSize();
                });

                //this function define the size of the items
                function ResCarouselSize() {
                    var incno = 0;
                    var dataItems = ("data-items");
                    var itemClass = ('.item');
                    var id = 0;
                    var btnParentSb = '';
                    var itemsSplit = '';
                    var sampwidth = $(itemsMainDiv).width();
                    var bodyWidth = $('body').width();
                    $(itemsDiv).each(function () {
                        id = id + 1;
                        var itemNumbers = $(this).find(itemClass).length;
                        btnParentSb = $(this).parent().attr(dataItems);
                        itemsSplit = btnParentSb.split(',');
                        $(this).parent().attr("id", "MultiCarousel" + id);


                        if (bodyWidth >= 1200) {
                            incno = itemsSplit[3];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 992) {
                            incno = itemsSplit[2];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 768) {
                            incno = itemsSplit[1];
                            itemWidth = sampwidth / incno;
                        }
                        else {
                            incno = itemsSplit[0];
                            itemWidth = sampwidth / incno;
                        }
                        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                        $(this).find(itemClass).each(function () {
                            $(this).outerWidth(itemWidth);
                        });

                        $(".leftLst").addClass("over");
                        $(".rightLst").removeClass("over");

                    });
                }


                //this function used to move the items
                function ResCarousel(e, el, s) {
                    var leftBtn = ('.leftLst');
                    var rightBtn = ('.rightLst');
                    var translateXval = '';
                    var divStyle = $(el + ' ' + itemsDiv).css('transform');
                    var values = divStyle.match(/-?[\d\.]+/g);
                    var xds = Math.abs(values[4]);
                    if (e == 0) {
                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                        $(el + ' ' + rightBtn).removeClass("over");

                        if (translateXval <= itemWidth / 2) {
                            translateXval = 0;
                            $(el + ' ' + leftBtn).addClass("over");
                        }
                    }
                    else if (e == 1) {
                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                        $(el + ' ' + leftBtn).removeClass("over");

                        if (translateXval >= itemsCondition - itemWidth / 2) {
                            translateXval = itemsCondition;
                            $(el + ' ' + rightBtn).addClass("over");
                        }
                    }
                    $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                }

                //It is used to get some elements from btn
                function click(ell, ee) {
                    var Parent = "#" + $(ee).parent().attr("id");
                    var slide = $(Parent).attr("data-slide");
                    ResCarousel(ell, Parent, slide);
                }

            });
    </script>
</body>
</html>